html{
    width: 100%;
    min-height: 100vh;
}
form {
    margin: 0 auto;
    padding: 2px 0px 0px 0px;
    text-align: center;
    align-items: center;
}

input.login{
    width:  320px;
    height: 40px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 10px #000;
    border: 1px solid #f2f2f2;
    background-color: #F2f2f2;
    padding: 4px;
    border-radius: 2px;
    text-align: center;
}
strong{
    text-transform: capitalize;
}
.dashboard{
    display: grid;
    grid-template-columns: 20% 80%;
    max-height: 100vh;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
.error{
    color: rgb(255, 60, 0);
    font-style: italic;
    font-size: 12px;
}